*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.over h1{
    margin-top: 50px;
    text-align: center;
}

.first__modal_btn {
  margin-left: 47%;
  margin-top: 50px;
  padding: 20px;
  border:1px solid #000;
  box-shadow: 10px 10px 10px #000;
  cursor: pointer;
  border-radius: 10px;

}
.first__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(75, 158, 27, 0.5);
    height: 100vh;
    z-index: 10;
}
.modal__card {
    width: 400px;
    height: 400px;
    background-color: #fff;
    position: relative;
    border-radius: 2%;
}
.modal__card button{
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #000;
}
.hiden {
    display: none;
}


